<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mimshak_final_afekoin">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Afekoin"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MaterialComponents.Light.NoActionBar">

        <activity
            android:name="com.example.mimshak_final_afekoin.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="com.example.mimshak_final_afekoin.MainActivity" android:exported="false" />
        <activity android:name="com.example.mimshak_final_afekoin.HistoryActivity" android:exported="false" />
        <activity android:name="com.example.mimshak_final_afekoin.EarnActivity" android:exported="false" />
        <activity android:name="com.example.mimshak_final_afekoin.AfequizActivity" android:exported="false" />
        <activity android:name="com.example.mimshak_final_afekoin.QuizResultActivity" android:exported="false" />
        <activity android:name="com.example.mimshak_final_afekoin.MineActivity" android:exported="false" />
        <activity android:name="com.example.mimshak_final_afekoin.LeaderboardActivity" android:exported="false" />
        <activity android:name="com.example.mimshak_final_afekoin.MineResultActivity" android:exported="false" />
        <activity android:name="com.example.mimshak_final_afekoin.TransferActivity" android:exported="false" />
        <activity android:name="com.example.mimshak_final_afekoin.PayActivity" android:exported="false" />
        <activity android:name="com.example.mimshak_final_afekoin.AfeklikerActivity" android:exported="false" />
        <activity android:name="com.example.mimshak_final_afekoin.LiebnitzActivity" android:exported="false" />

    </application>
</manifest>